*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #0e1538;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(315deg,#d400d4, #0e1538 ,#00ccff);
    flex-direction: column;
}
.box{
    position: relative;
    width: 300px;
    height: 400px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box::before{
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    transform: skewX(2deg) skewY(4deg);
    background: linear-gradient(315deg, #00ccff, #0e1538, #d400d4);
}
.box::after{
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    transform: skewX(2deg) skewY(4deg);
    background: linear-gradient(315deg, #00ccff, #0e1538, #d400d4);  
    filter: blur(50px); 
}
.box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0e1538;
    z-index: 10;
}
.box img{
    position: relative;
    z-index: 11;
    color: #fff;
    font-size: 7em;
    width: 95%;
    height: 95%;
}
.wishes{
    margin-top: 20px;
    color: #fff;
}
.wishes h2{
    text-align: center;
    font-size: 50px;
}
.wishes button{
    text-align: center;
    border: 0;
    background-color: #d400d4;
    padding: 10px;
    margin-top: 20px;
    margin-left: 30%;
    cursor: pointer;
    text-decoration: none;
    border-radius: 20px;
}
.wishes button a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}